body{
    margin:0;
    padding:0;
    height:100vh;
    background-image: url(BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

iframe{
    position:fixed;
    border:none;
}

#frame1{
    left:20%;
    top:10%;
    height:70vh;
}

#frame2{
    left:40%;
    top:11%;
    height:70vh;
}

#frame3{
    left:30%;
    bottom:15%;
    height:40vh;
}